[user]
	email = falsandtru
	name = falsandtru
[core]
	editor = vim -c \"set fenc=utf-8\"
[push]
	default = simple
[merge]
	ff = false
[branch]
	autosetuprebase = always
[pull]
	rebase = preserve
[url "ssh://git@github.com/"]
	insteadOf = git@github.com:
	insteadOf = git://github.com/
	insteadOf = http://github.com/
	insteadOf = https://github.com/
